{% extends 'base.html.twig' %}

{% block title %}{{ site.name }}{% endblock %}

{% block body %}
    {% for category in categories %}
        <h1>{{ category.name|capitalize }} :</h1>
        {% if category.deals|length > 0 %}
            <ul>
                {% for deal in category.deals %}
                    <li>{{ deal.name }} : {{ deal.price|number_format(2) }} € [{{ deal.description }}] - '
                        {% if deal.updatedAt == null %}
                            {{ deal.createdAt|date('m/d/Y') }}
                        {% else %}
                            {{ deal.updatedAt|date('m/d/Y') }}
                        {% endif %}
                        '
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No deals in this category</p>
        {% endif %}
    {% endfor %}
{% endblock %}
